name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Determine artifact path
        id: vars
        run: |
          if [ -d "./dist" ]; then
            echo "path=dist" >> $GITHUB_OUTPUT
          else
            echo "path=." >> $GITHUB_OUTPUT
          fi

      - name: Configure Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ${{ steps.vars.outputs.path }}

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
